@font-face{font-family:proxima_nova_altblack;src:url('Mark Simonson - Proxima Nova Alt Black-webfont.eot');src:url('Mark Simonson - Proxima Nova Alt Black-webfont.eot?#iefix') format('embedded-opentype'),url('Mark Simonson - Proxima Nova Alt Black-webfont.woff2') format('woff2'),url('Mark Simonson - Proxima Nova Alt Black-webfont.woff') format('woff'),url('Mark Simonson - Proxima Nova Alt Black-webfont.ttf') format('truetype'),url('Mark Simonson - Proxima Nova Alt Black-webfont.svg#proxima_nova_altblack') format('svg');font-weight:400;font-style:normal}@font-face{font-family:proxima_nova_altbold;src:url('Mark Simonson - Proxima Nova Alt Bold-webfont.eot');src:url('Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix') format('embedded-opentype'),url('Mark Simonson - Proxima Nova Alt Bold-webfont.woff2') format('woff2'),url('Mark Simonson - Proxima Nova Alt Bold-webfont.woff') format('woff'),url('Mark Simonson - Proxima Nova Alt Bold-webfont.ttf') format('truetype'),url('Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold') format('svg');font-weight:400;font-style:normal}@font-face{font-family:'Proxima Nova';src:url('Mark Simonson - Proxima Nova Alt Regular-webfont.eot');src:url('Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),url('Mark Simonson - Proxima Nova Alt Regular-webfont.woff2') format('woff2'),url('Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),url('Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),url('Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');font-weight:400;font-style:normal}@font-face{font-family:proxima_nova_scosfthin;src:url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot');src:url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot?#iefix') format('embedded-opentype'),url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff2') format('woff2'),url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff') format('woff'),url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf') format('truetype'),url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.svg#proxima_nova_scosfthin') format('svg');font-weight:400;font-style:normal}@font-face{font-family:proxima_nova_ltsemibold;src:url('Mark Simonson - Proxima Nova Semibold-webfont.eot');src:url('Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'),url('Mark Simonson - Proxima Nova Semibold-webfont.woff2') format('woff2'),url('Mark Simonson - Proxima Nova Semibold-webfont.woff') format('woff'),url('Mark Simonson - Proxima Nova Semibold-webfont.ttf') format('truetype'),url('Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');font-weight:400;font-style:normal}@font-face{font-family:proxima_nova_ltthin;src:url('Mark Simonson - Proxima Nova Thin-webfont.eot');src:url('Mark Simonson - Proxima Nova Thin-webfont.eot?#iefix') format('embedded-opentype'),url('Mark Simonson - Proxima Nova Thin-webfont.woff2') format('woff2'),url('Mark Simonson - Proxima Nova Thin-webfont.woff') format('woff'),url('Mark Simonson - Proxima Nova Thin-webfont.ttf') format('truetype'),url('Mark Simonson - Proxima Nova Thin-webfont.svg#proxima_nova_ltthin') format('svg');font-weight:400;font-style:normal}

html, body {
    background-color: #fff;
    color: #444444;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

a {
	text-decoration: none !important;
    color: #444444;
}

ul {
    list-style: none;
}

label {
    color: #6C7695;
    font-family: 'proxima_nova_ltsemibold';
    font-size: 0.75rem;
}

input, select, button {
    outline: none!important;
}
.aboude-body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}
.aboude-body #sidebar-container > .p-2 {
    padding: 0px !important;
}

#sidebar-container {
  z-index: 1040;
  width: 25em;
  max-width: 80vw;  
}

.zero-left-pad {
  padding-left: 0;
}
.zero-right-pad{
  padding-right: 0;
}

.zero-pad{
  padding: 0;
}

/* Side Menu*/
.side-menu {
    position: fixed;
    height: 100%;
    display: block;
    background: #212C3E;
    text-align: center;
    color: #fff;
    line-height: 2.4em;
    z-index: 1050;
}
.flex-column.align-items-stretch {
    height: 100%;
}
.side-menu > .d-flex > .p-1 {
    border: 1.5px solid transparent;
}

.side-menu > .d-flex > .p-1:hover {
    border-left-color: #FBBC2D;
}
.initials {
    height: 2.4em;
    width: 2.4em;
    border-radius: 50%;
    background: #D73C4F;
    text-align: center;
    font-weight: 600;
    margin: 0px auto;
}
.img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 3.4em;
    width: 3.4em;
}
.side-menu > .d-flex > .p-1.logo-img {
    background: #212C3E;
}

.side-menu > .d-flex > .p-1.logo-img:hover {
	border-left-color: #212C3E;
}

/* Extended side bar */
.extended-side-menu {
    position: absolute;
    top: 0px;
    left: 4em;
    z-index: 999999;
    height: 100%;
    display: block;
    background: #F9F9F9;
    color: #6C7695;
    max-width: 80vw;
    width: 0px;
    line-height: 2.4em;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}
.extended-side-menu h1 {
    font-size: 1.3em;
    margin: 0px;
    line-height: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
}
.extended-side-menu h2 {
    font-size: 1em;
    margin: 0px;
    padding: 0px 0.5em;
    text-transform: uppercase;
}
 .extended-side-menu > .d-flex > .p-1.logo-img {
    font-size: 14px;
    color: #444444;
    padding: 0.8rem !important;
    padding-left: 2.4em !important; 
 }
/* .p-1:hover > .extended-side-menu {
    width: 25em;
}*/

.active-module {
  width: 20em;
}

.menu-title {
	display: block;
	width: 100%;
	font-size: 10px;
}

.extended-menu-list {
	list-style: none;
	padding: 0 !important;
}

.extended-menu-list img {
	width: 13px;
	max-width: 100%;
	margin-right: 0.8em;
}

.extended-menu-list li {
	padding: 0.25rem 0.8em !important;
	padding-left: 2.4em !important; 
	color: #6C7695;
}

.extended-menu-list li a {
	color: #6C7695;
    display: block;
}

.extended-menu-list li:hover, .extended-menu-list li:focus, .extended-menu-list li:active, .ext-menu-active {
	background: rgba(0,0,0, 0.03);
}

.top-nav {
    padding-bottom: 4.5rem;
}

.nav-name {
    padding-left: 25em;
}

.nav-theme {
    background: #FFFFFF;
    color: #444444;
}

.nav-link img {
    display: inline-block;
    width: 12px;
    max-width: 100%;
    margin-right: 10px;
}

.nav-link {
    font-size: 1.1em;
    margin: 0px;
    line-height: 1.1em;
    text-transform: uppercase;
    font-weight: bold;    
}


.nav-theme .nav-link a:hover {
    color: #444444;
}

.account-details {
    display: inherit;
}

.account-details p {
  margin: 0;
  line-height: 0.9em;
}

.profile-name {
    color: #444444;
    display: inherit;
}

.user-level {
  display: block;
  width: 100%;
  font-size: 0.8em;
  font-family: 'proxima_nova_altregular';
  color: #6C7695;
}

.user-name {
  font-size: 1em;
  font-family: 'proxima_nova_ltsemibold';
  margin-right: 1.2em!important;
}

.user-initial {
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #4F67D1;
  vertical-align: middle;
  margin-right: 0.8em;
  color: #FFFFFF;
}

.notify-icon {
    padding-top: 0.6em;
    padding-right: 2em;
}

.caret-drop {
  padding: 0.8em;
  display: inline-block;
  background: #F4F4F4;
  text-align: center;    
}

.breadcrumbs {
    color: #6C7695;
    font-family: 'proxima_nova_ltsemibold', sans-serif;
}


.widgets dl dt {
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
    text-transform: capitalize;
    font-family: 'proxima_nova_ltsemibold', sans-serif;

}

.widgets dl dd {
    font-size: 1.8rem;
    font-family: 'proxima_nova_ltsemibold', sans-serif;
}

.widget-wrap {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.period {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
}

.period li {
    border: 1px solid #DDDDDD;
    border-left: 0.5px solid #DDDDDD;
    border-right: 0.5px solid #DDDDDD;
    display: list-item;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.period-link {
    display: block;
    font-family: 'proxima_nova_ltsemibold', sans-serif;
}

.active-period {
    position: relative;
    background: #4F67D1;
    border: 1px solid #c2e1f5;
    color: #FFFFFF;
}
.active-period:after, .active-period:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.active-period:after {
    border-color: rgba(79, 103, 209, 0);
    border-top-color: #4F67D1;
    border-width: 5px;
    margin-left: -5px;
}
.active-period:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #c2e1f5;
    border-width: 6px;
    margin-left: -6px;
}


h4.widget-title {
    font-size: 0.8rem;
    font-family: 'proxima_nova_ltsemibold', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

canvas {
    width: 100% !important;
    max-width: 100%;
    max-height: 65vh;
}

.dataTable-head, .range-selector {
  margin-bottom: 10px;
}

.dataTables_wrapper {
    width: 100%;
    margin-top: 20px;
}

table.dataTable thead th, table.dataTable thead td{
    border-bottom: 0;
    text-transform: uppercase;
    font-family: 'proxima_nova_altbold';
    padding: 8px 10px;
}

table.dataTable.no-footer {
    border-bottom: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #FFFFFF !important;
    background: #4F67D1;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 0;
    border: 1px solid #F3F3F3;
    margin-right: 2px;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none !important;
}

.dataTables_scroll {
  margin-top: 30px;
}

.date-range-wrap {
  padding: 0;
  width: 320px;
  text-align: right;

}

.date-input-ranger {
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  padding: 5px 10px;
  color: #6C7695;
}

.date-input-ranger .fa, .date-input-ranger .far, .date-input-ranger .fas {
    color: #6C7695;
}

.date-divider {
    color: #6C7695;
}

.date-input-ranger input {
    border: none;
    background: transparent;
    width: 100px;
    text-align: center;
    outline: none;
    color: #6C7695;
}

.date-input-ranger input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6C7695;
}
.date-input-ranger input::-moz-placeholder { /* Firefox 19+ */
  color: #6C7695;
}
.date-input-ranger input:-ms-input-placeholder { /* IE 10+ */
  color: #6C7695;
}
.date-input-ranger input:-moz-placeholder { /* Firefox 18- */
  color: #6C7695;
}

.fas.fa-long-arrow-alt-right{
  margin-right: 5px;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.nav-pills {
    border-bottom: 1px solid #F4F4F4;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #4F67D1;
    background-color: #fff;
    border-bottom: 1px solid #4F67D1;    
}

.pending, .cancelled, .complete, .table-indicator {
    color: #FFFFFF;
    width: 90px;
    display: block;
    padding: 0.3em 0.5em;
    border-radius: 3px;
}

.pending {
    background: #6C7695;
}

.cancelled {
    background: #EE5C90;
}

.complete {
    background: #6EC7AD;
}

.search {
    border : 1px solid #DDDDDD; 
/*    float: left;
    width: 100%;*/
    background: #FFFFFF;
}
.search-input {
    width: 90%;
    float: left;
}

.search-btn {
    float: left;
    width: 10%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #6C7695!important;
    cursor: pointer;
    /*padding-top: 10px;*/
    padding-left: 5px;
}

.search-input input[type="text"] {
    padding: 8px 13px;
    border: none !important;
    width: 100% !important;
    background: #FFFFFF;
    color: #6C7695 !important;
    outline: none !important;
} 

.search-input .form-control:focus {
    box-shadow: none;
}

.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6C7695!important;
}
.search-input::-moz-placeholder { /* Firefox 19+ */
 color: #6C7695!important;
}
.search-input:-ms-input-placeholder { /* IE 10+ */
  color: #6C7695!important;
}
.search-input:-moz-placeholder { /* Firefox 18- */
 color: #6C7695!important;
}


button {
    border: none;
    outline: none;
}

.btn-blue {
    background: #4F67D1;
}

.btn-blue i {
    font-size: 0.5rem;
    margin-top: -4px;
}

table#employee {
    max-height: 80vh;
}

.employee-initials {
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #4F67D1;
  vertical-align: middle;
  margin-right: 0.8em;
  color: #FFFFFF;
  overflow: hidden;
}

.img-frame {
  display: inline-block;
  font-size: 1em;
  width: 3.5em;
  height: 3.5em;
  line-height: 3.5em;
  text-align: center;
  background: #4F67D1;
  vertical-align: middle;
  margin-right: 0.8em;
  color: #FFFFFF;
  overflow: hidden;
  font-size: 1.3rem;
  font-family: 'proxima_nova_ltsemibold';
}

.employee-initials img, .img-frame img {
    width: 100%;
    max-width: 100%;
}

.employee-highlight h4 {
  font-family: 'proxima_nova_ltsemibold';
}

.employee-highlight p {
    color: #6C7695;
    font-family: 'proxima_nova_ltsemibold';
    font-size: 0.75rem;
    margin: 0; 
}

.employee-full {
  margin-top: 50px;
}

.employee-full dt {
  color: #6C7695;
  font-size: 0.7rem;
}

.employee-full dd {
    font-size: 0.9rem !important;
}



.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 30%;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-frame {
    background: #F3F3F3;
    padding: 10px;
}

.upload-receipt {
    border: 1px dotted #DDDDDD;
    text-align: center;
    border-radius: 5px;
    padding: 10px 8px 20px 8px;
}

.upload-receipt img {
  max-width: 100%;
}

.upload-receipt p {
    font-size: 12px;
    font-family: 'proxima_nova_ltsemibold';
    margin-top: 8px;
}

.modal-content {
    background-color: #FFFFFF;
}

.modal-header {
    padding-left: 45px;
    padding-right: 35px;
}

.modal-body {
    padding-left: 45px;
    padding-right: 45px;
}

.modal-title {
    text-transform: uppercase;
    font-family: 'proxima_nova_ltsemibold';
}

.modal-footer, .modal-header {
    border: none;
}

.employee-footer {
  padding: 1rem 0;
}
.modal-title-icon {
    max-width: 200px;
    margin: auto;
}

.modal-header-icon {
    background: #F2F3F6;
}

.input-group-text {
    background-color: #F2F3F6;
    border-right: 0;
}

.input-group input {
    border-left: 0;
}

.input-group-text-original {
  border-right: 1px solid #ced4da;
}

.input-group-original input {
  border-left: 1px solid #ced4da;
}



.input-group-text-trans {
    background-color: transparent;
}

.icon {
    position:relative;
    text-align:center;
    width:0px;
    height:0px;
    padding:30px;
    border-top-right-radius:    30px;
    border-top-left-radius:     30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius:  30px; 
    -moz-border-radius:         30px 30px 30px 30px;
    -webkit-border-radius:      30px 30px 30px 30px;
    -khtml-border-radius:       30px 30px 30px 30px;    
    color:#FFFFFF;
    background: #EB7092;
}
.icon i {
    font-size: 1.6rem;
    position:absolute;
    left: 19px;
    top: 17px;
}


.wizard-stage {
    background: #F4F4F4;
    padding: 15px 45px;
}

.wizard-stage h4 {
    font-size: 1.1rem;
    font-family: 'proxima_nova_ltsemibold';
    display: inline-block;
    margin: 0;
    margin-top: 0.5rem;
}

.pin-board {
  margin-bottom: 30px;
}

.pin-board p {
    font-family: 'proxima_nova_ltsemibold';
    font-size: 2.4rem;
    margin: 0;
}

.pin-digit {
    border: 1px solid #DDDDDD;
    padding: 30px;
    padding-top: 10px;
    width: 80px;
    height: 80px;  
    margin-right: 45px;  
}

.pin-holder {
  font-family: 'proxima_nova_altbold';
  font-size: 2.5rem;
  padding-top: 20px;
  word-spacing: 8px;
  background-color: #fff!important;
  color: #6C7695!important;
}

.pin-reset {
  cursor: pointer;
}
.employment-details {
  display: none;
}

.employee-active-section {
  display: block;
}

#employee-submit {
  display: none;
}

.progress-mark {
  position: relative;
  display: inline-block;
  margin-right: 25px;
}

.progress-mark label {
  background-color: #F4F4F4;
  border: 5px solid #6C7695;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: -6px;
  width: 28px;
}

.progress-mark label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.progress-mark input[type="checkbox"] {
  visibility: hidden;
}

.progress-mark input[type="checkbox"]:checked + label {
  background-color: #6EC7AD;
  border-color: #6EC7AD;
  border-width: 1px;
}

.progress-mark input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.btn {
  border-radius: 0px;
  padding: 0.375rem 1.75rem;
}

.btn-cancel {
  color: #444444;
  background-color: #fff;
  border-color: #6C7695;  
}

.btn-back {
  background-color: #4F6707;
  border: 1px solid #4F6707;
  background-color: rgba(79, 103, 209, 0.1);
  border: 1px solid rgba(79, 103, 209, 0.1); 
}

.btn-primary {
  background-color: #4F67D1;
  border-color: #4F67D1;  
}

.grey-layer {
  background: #F2F3F6;
}

.chart {
  margin-top: 20px;
}

.chart-widget {
  min-height: 40vh;
  text-align: center;
}

.mini-widget {
  min-height: 70px; 
}

.no-result {
    font-size: 1.3rem;
    font-family: 'proxima_nova_ltsemibold', sans-serif;
    margin-top: 4%;
}

@keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.lds-rolling {
    position: relative;
    margin:auto;
}

.lds-rolling div,
.lds-rolling div:after {
    position: absolute;
    width: 160px;
    height: 160px;
    border: 20px solid #4F67D1;
    border-top-color: transparent;
    border-radius: 50%;
}

.lds-rolling div {
    -webkit-animation: lds-rolling 1s linear infinite;
    animation: lds-rolling 1s linear infinite;
    top: 100px;
    left: 100px;
}

.lds-rolling div:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.lds-rolling {
    width: 50px !important;
    height: 50px !important;
    -webkit-transform: translate(-25px, -25px) scale(0.25) translate(25px, 25px);
    transform: translate(-25px, -25px) scale(0.25) translate(25px, 25px);
}

.expense-summary {
  padding: 10px;
}

.expense-summary table {
  width: 100%;
}

.expense-summary table tr {
  padding: 15px 0;
}

.expense-summary table td {
  font-size: 1rem;
  font-family: 'proxima_nova_ltsemibold';
}


.expense-summary h3 {
  font-size: 1rem;
  font-family: 'proxima_nova_ltsemibold';
}

.expense-summary h2 {
  font-size: 2.3rem;
  font-family: 'proxima_nova_altbold';
}

.dark-pink {
  color: #EE5C90;
}

.grey-light-bg {
  background: #F9F9F9;
}

.amount-tax {
  max-width: 130px;
}

table.purchase-order, table.report-table {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;  
}

table.purchase-order, table.purchase-order th, table.purchase-order td {
    box-sizing: content-box;
    border: 0.5px solid #F3F3F3;
}

table.report-table th, table.report-table td {
    border-top: 0.5px solid #F3F3F3;
    border-bottom: 0.5px solid #F3F3F3;
}

table.report-table th {
    border-top: 0;
}

table.report-table tbody tr:last-child {
  background: #F9F9F9;
}


table.purchase-order thead th, table.purchase-order tbody td,
  table.report-table thead th, table.report-table tbody td {
    padding: 8px 10px;
}

table.purchase-order th, table.report-table th {
  text-transform: uppercase;
  font-family: 'proxima_nova_altbold';
  font-size: 0.80rem;
}

table.purchase-order thead th, table.purchase-order tbody td {
  width: 12%;
}

table.purchase-order thead th:last-child, table.purchase-order tbody td:last-child {
  text-align: center;
  width: 4%;
}

table.purchase-order thead th:first-child, table.purchase-order tbody td:first-child {
  text-align: center;
  width: 3%;
}

table.purchase-order thead th:nth-child(2), table.purchase-order tbody td:nth-child(2), table.purchase-order thead th:nth-child(3), table.purchase-order tbody td:nth-child(3) {
  width: 24%;
}

table.purchase-order input.form-control, table.purchase-order input.form-control:focus {
  border: none !important;
  box-shadow: none;
}

.purchase-spreadsheet button.split {
  border-right: 0;
  padding-right: 0; 
}
.purchase-spreadsheet button.split span {
  background-color: #4F67D1;
  text-align: center;
  display: inline-block;
  width: 35px;

}

.purchase-summary {
  padding: 10px;
  padding-right: 0;
}

.purchase-summary table td {
  font-family: 'proxima_nova_altbold';
  padding: 8px 10px;
}

.purchase-summary table tr:first-child td {
  font-size: 0.75rem;
  color: #6C7695;
}

.purchase-summary table tr:nth-child(2) {
  border: 1px solid #6C7695;
  border-right: none;
  border-left: none; 
}

.purchase-summary table tr:nth-child(2) td {
  font-size: 1rem;
}