
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap-multiselect/dist/css/bootstrap-multiselect";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker";
